{% extends "base.html" %}
{% block content %}

<h1>Create a new role</h1>
<form action="/new_role" method="POST">
    <input type="text" name="role" id="role" placeholder="Enter role name">
    <br> <br>
    <label>Choose permissions :</label>
    <br>
    <input type="checkbox" name="permissions" value="view-posts" id="view-posts">
    <label for="view-posts">View Posts</label>
    <br>
    <input type="checkbox" name="permissions" value="create-post" id="create-post">
    <label for="create-post">Create Post</label>
    <br>
    <input type="checkbox" name="permissions" value="delete-post" id="delete-post">
    <label for="delete-post">Delete Post</label>
    <br>
    <input type="checkbox" name="permissions" value="update-post" id="update-post">
    <label for="update-post">Update Post</label>
    <br>
    <input type="checkbox" name="permissions" value="approve-post" id="approve-post">
    <label for="approve-post">Approve Post</label>
    <br>
    <input type="checkbox" name="permissions" value="reject-post" id="reject-post">
    <label for="reject-post">Reject Post</label>
    <br>
    <input type="checkbox" name="permissions" value="ban-user" id="ban-user">
    <label for="ban-user">Ban User</label>
    <br>
    <input type="checkbox" name="permissions" value="all" id="all">
    <label for="all">All</label>
    <br> <br>
    <button type="submit">Create</button>
</form>

{% endblock %}
