{% extends "base.html" %}
{% block content %}
<form action="#" method="POST">
    <h3>Sign up</h3>
    <div class="form-grp">
        <label for="email">Name</label>
        <input type="text" name="email" placeholder="Enter Name">
        <br>
        <label for="email">Email Adress</label>
        <input type="text" name="email" placeholder="Enter Email">
        <br>
        <label for="email">Password</label>
        <input type="password" name="password" placeholder="Create a Password">
        <br>
        <label for="email">Confirm Password</label>
        <input type="password" name="password2" placeholder="Re-Enter Password">
        <br>
        <button type="submit">Sign Up</button>
    </div>
</form>
{% endblock %}